<div class="jumbotron">
    <div ng-controller="ChuckCtrl" >
        <h2>True facts from Chuck Norris</h2>
        <p>{{ text }}</p>
        <br/>
        <button class="btn btn-lg btn-danger" ng-click='newJoke()'>More Chuck</button>
    </div>
</div>

<div class="row marketing">
  <h4>References Used:</h4>
  <p>Getting JSON: <a href="http://davidsalter.com/2013/08/16/using-angular-dot-js-factories-to-get-remote-data/">David Slater Blog</a></p>
  <p>Ultimate Guide: <a href="http://toddmotto.com/ultimate-guide-to-learning-angular-js-in-one-day/">Todd Motto Blog</a></p>
  <p>Bootstrap Nav: <a href="http://stackoverflow.com/questions/16199418/how-do-i-implement-the-bootstrap-navbar-active-class-with-angular-js">make active</a></p>
  <p>Deploying to Heroku: <a href="http://www.sitepoint.com/deploying-yeomanangular-app-heroku/">sitepoint - Brad Barrow</a></p>
  <p>Unknown Provider Error: <a href="https://github.com/yeoman/yeoman/issues/646">github issue</a></p>
  <p>Chuck API: <a href="http://www.icndb.com/">ICNDB</a></p>
</div>

<div class="footer">
  <p>by <a href="http://austinbaum.com/">Austin</a></p>
</div>

